---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="Duansg">
	<div class="terminal__skills">
		<h2>My Skills</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/java.svg"
				color="#7738ff"
				name="Java"
			/>
			<TerminalIcon
				src="/assets/golang.svg"
				color="#FF4747"
				name="Golang"
			/>
			<TerminalIcon
				src="/assets/git.svg"
				color="#00D1FF"
				name="Git"
			/>
			<TerminalIcon src="/assets/mysql.svg" color="#F3CBC2" name="Mysql" />
			<TerminalIcon src="/assets/spring.svg" color="#00A3FF" name="Spring" />
			<TerminalIcon
				src="/assets/elastic.svg"
				color="#3F75FF"
				name="Elastic"
			/>
		</div>
	</div>
</Terminal>
