*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile
profile.cov
go.work
go.work.sum
.env
 .idea/
 .vscode/
 /.vscode/*.log
*.orig
*.rej
*~
.DS_Store
._*
/.fleet
/cmd/manager/freesapce/*.sh
/cmd/manager/freesapce/freesapce
/cmd/manager/freesapce/uploads/*
/cmd/logs
/configs/config-dev.yaml
/go.work*
/logs
/ui/node_modules
/ui/build/*/*/*
/ui/build/*.json
/ui/build/*.html
/ui/build/*.txt
/vendor
Thumbs*.db
tmp
vendor/
/freesapce-data/
/freesapce
/new_freesapce
dist/
