---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Skills" />
		<p>
			Write your skills here, remember to mention the most relevant ones.
			and avoid overloading skills, this section is very
			important for sharing what you know and is an important part
			for companies, but if you put too much, it often
			You may think it's exaggerated, but it's better to focus on what you excel at and
			When applying, you can mention the other things you also do.
			you know.
		</p>
	</div>
</section>
